[Desktop Entry]
Type=Service
Name=AppChooser
Comment=Application launcher
Icon=view-grid
Keywords=

X-KDE-PluginInfo-Author=Pier Luigi Fiorini
X-KDE-PluginInfo-Email=pierluigi.fiorini@maui-project.org
X-KDE-PluginInfo-Name=org.hawaii.appchooser
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.maui-project.org
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu
X-Plasma-RequiredExtensions=LaunchApp
