[Desktop Entry]
Name=Applications manager
Comment=Switch between running applications, pin favourite applications and start them
Type=Service

X-Hawaii-ServiceType=Element
X-Hawaii-PluginInfo-Name=org.hawaii.elements.launcher
X-Hawaii-PluginInfo-Version=1.0
X-Hawaii-PluginInfo-License=GPLv2+
X-Hawaii-PluginInfo-AuthorName=Pier Luigi Fiorini
X-Hawaii-PluginInfo-AuthorEmail=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-WebSite=http://www.maui-project.org
X-Hawaii-MainScript=ui/Launcher.qml
