[Desktop Entry]
Type=X-Liri-Service
Name=Notifications
Name[de]=Benachrichtigungen
Name[lt]=Pranešimai
Name[pt_BR]=Notificações
Name[tr]=Bildirimler
Comment=Show notifications
Comment[de]=Benachrichtigungen anzeigen
Comment[lt]=Rodyti pranešimus
Comment[pt_BR]=Exibir notificações
Comment[tr]=Bildirimleri göster
Keywords=Notifications;
Keywords[de]=Benachrichtigungen;
Keywords[lt]=Pranešimai;
Keywords[pt_BR]=Notificações;
Keywords[tr]=Bildirimler;
OnlyShowIn=X-Liri;
X-Liri-ServiceType=StatusAreaExtension
X-Liri-StatusAreaExtension-Script=contents/main.qml
X-Liri-StatusAreaExtension-Order=2
X-Liri-PluginInfo-Name=io.liri.StatusAreaExtensions.Notifications
X-Liri-PluginInfo-Category=StatusAreaExtensions
X-Liri-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@liri.io>
X-Liri-PluginInfo-Version=1.0.0
X-Liri-PluginInfo-Website=https://liri.io
X-Liri-PluginInfo-License=GPL-3.0-or-later
X-Liri-PluginInfo-EnabledByDefault=true
