[Desktop Entry]
Type=X-Liri-Service
Name=Storage
Name[de]=Speicher
Name[lt]=Kaupiklis
Name[nl]=Opslag
Name[pt_BR]=Armazenamento
Name[tr]=Depolama
Comment=Access storage volumes
Comment[de]=Auf Speichervolumen zugreifen
Comment[lt]=Gauti prieigą prie kaupiklio tomų
Comment[nl]=Toegang tot schijven
Comment[pt_BR]=Acessar volumes de armazenamento
Comment[tr]=Depolama birimlerine eriş
Keywords=Storage;Disk;
Keywords[de]=Speicher;Festplatte;
Keywords[lt]=Kaupiklis;Saugykla;Diskas;Atminties įrenginys;Atminties irenginys;
Keywords[nl]=Opslag;Schijf;
Keywords[pt_BR]=Armazenamento;Disco;
Keywords[tr]=Depolama;Biriktirme;Saklama;Disk;Teker;
OnlyShowIn=X-Liri;
X-Liri-ServiceType=StatusAreaExtension
X-Liri-StatusAreaExtension-Script=contents/main.qml
X-Liri-StatusAreaExtension-Order=3
X-Liri-PluginInfo-Name=io.liri.StatusAreaExtensions.Storage
X-Liri-PluginInfo-Category=StatusAreaExtensions
X-Liri-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@liri.io>
X-Liri-PluginInfo-Version=1.0.0
X-Liri-PluginInfo-Website=https://liri.io
X-Liri-PluginInfo-License=GPL-3.0-or-later
X-Liri-PluginInfo-EnabledByDefault=true
