[Desktop Entry]
Name=Mixer
Comment=Control audio mixer
X-Hawaii-PluginInfo-Name=org.hawaii.dataproviders.mixer
X-Hawaii-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
X-Hawaii-PluginInfo-Email=pierluigi.fiorini@gmail.com
X-Hawaii-PluginInfo-Website=http://www.maui-project.org
X-Hawaii-PluginInfo-License=LGPLv2.1+
