[Desktop Entry]
Type=X-Liri-Service
Name=User
Name[de]=Benutzer
Name[lt]=Naudotojas
Name[nl]=Gebruiker
Name[pt_BR]=Usuário
Name[tr]=Kullanıcı
Comment=Current user picture
Comment[de]=Aktuelles Benutzerbild
Comment[lt]=Dabartinio naudotojo paveikslas
Comment[nl]=Huidige gebruikersfoto
Comment[pt_BR]=Imagem atual do usuário
Comment[tr]=Geçerli kullanıcı resmi
Keywords=User;
Keywords[de]=Benutzer;
Keywords[lt]=Naudotojas;naudotojai;
Keywords[nl]=Gebruiker;
Keywords[pt_BR]=Usuário;
Keywords[tr]=Kullanıcı;
OnlyShowIn=X-Liri;
X-Liri-ServiceType=StatusAreaExtension
X-Liri-StatusAreaExtension-Script=contents/main.qml
X-Liri-StatusAreaExtension-Order=0
X-Liri-PluginInfo-Name=io.liri.StatusAreaExtensions.User
X-Liri-PluginInfo-Category=StatusAreaExtensions
X-Liri-PluginInfo-Author=Pier Luigi Fiorini <pierluigi.fiorini@liri.io>
X-Liri-PluginInfo-Version=1.0.0
X-Liri-PluginInfo-Website=https://liri.io
X-Liri-PluginInfo-License=GPL-3.0-or-later
X-Liri-PluginInfo-EnabledByDefault=true
