# SPDX-FileCopyrightText: 2022 Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

name: CI

on:
  push:
    branches:
      - master
      - develop
    tags:
      - v*
  pull_request:
    branches:
      - master
      - develop

jobs:
  linux-qt6:
    uses: lirios/.github/.github/workflows/build-linux-qt6.yml@master
    with:
      dependencies: "umockdev-devel polkit-qt6-1-devel kf6-solid-devel"
      build_dependencies: "cmake-shared qtaccountsservice qtgsettings fluid libliri qtshellintegration aurora-scanner aurora-compositor"
