# SPDX-FileCopyrightText: 2022 Pier Luigi Fiorini <pierluigi.fiorini@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

name: CI

on:
  push:
    branches:
      - master
      - develop
    tags:
      - v*
  pull_request:
    branches:
      - master
      - develop

jobs:
  linux-qt5:
    uses: lirios/.github/.github/workflows/build-linux-qt5.yml@master
    with:
      dependencies: "umockdev-devel libpolkit-qt5-1-devel solid-devel"
      build_dependencies: "cmake-shared qtaccountsservice qtgsettings qtudev fluid libliri eglfs wayland"
